Repository eligazza/integrador: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, build_app, deploy_app

frontend:
  variables:
    SECURE_FILES_DOWNLOAD_PATH: ./files/
  stage: frontend
  image: node:latest
  before_script:
  - echo "Preparing runner"
  - apk add --update openssh-client
  - apk update
  - apk add curl
  - apk add bash
  ...

build_app:
  stage: backend
  needs:
  - deploy_mysql
  image: maven:3.9.5-amazoncorretto-17-al2023
  script:
  - cd Guider
  - echo "Creating app packages"
  - mvn install -DskipTests
  - cp /$CI_PROJECT_DIR/Guider/target/Guider-0.0.1-SNAPSHOT.jar /home/ubuntu
  - echo "Compile maven complete."
  artifacts:
    name: java-build
  ...

deploy_app:
  variables:
    SECURE_FILES_DOWNLOAD_PATH: ./keys/
  stage: backend
  needs:
  - build_app
  image: alpine:latest
  before_script:
  - echo "Preparing runner"
  - apk add --update openssh-client
  - apk update
  - apk add curl
  - apk add bash
  ...

Wip
  src/Components/Card/Card.jsx
  src/Routes/DetalleProducto/DetalleProducto.jsx
Due: none

pipeline update, cors mod to 11000 and ipaddress update
  .gitlab-ci.yml
  Guider/src/main/resources/application.properties
  gitlab-ci.yml
Due: build_app, deploy_app

Agregando security
  Guider/Dockerfile.maven
  Guider/pom.xml
  Guider/primeraopcion
  Guider/segundaopcion
  Guider/src/main/java/com/guider/GuiderApplication.java
  Guider/src/main/java/com/guider/config/DataLoader.java
  Guider/src/main/java/com/guider/config/IJwtService.java
  Guider/src/main/java/com/guider/config/JwtAuthenticationFilter.java
  Guider/src/main/java/com/guider/config/JwtService.java
  Guider/src/main/java/com/guider/config/PasswordEncoder.java
  Guider/src/main/java/com/guider/config/SecurityConfiguration.java
  Guider/src/main/java/com/guider/controller/TourController.java
  Guider/src/main/java/com/guider/dtos/req/TourDtoReq.java
  Guider/src/main/java/com/guider/dtos/res/TourDtoRes.java
  Guider/src/main/java/com/guider/exceptions/DuplicatedException.java
  Guider/src/main/java/com/guider/exceptions/ErrorResponse.java
  Guider/src/main/java/com/guider/exceptions/GlobalExceptionHandler.java
  Guider/src/main/java/com/guider/exceptions/InvalidArgumentException.java
  Guider/src/main/java/com/guider/exceptions/MissingArgumentException.java
  Guider/src/main/java/com/guider/exceptions/NoContentException.java
  Guider/src/main/java/com/guider/exceptions/NotFoundException.java
  Guider/src/main/java/com/guider/persistence/entity/AppUser.java
  Guider/src/main/java/com/guider/persistence/entity/AppUserRole.java
  Guider/src/main/java/com/guider/persistence/entity/Image.java
  Guider/src/main/java/com/guider/persistence/entity/Tour.java
  Guider/src/main/java/com/guider/persistence/repository/IUserRepository.java
  Guider/src/main/java/com/guider/service/AppUserService.java
  Guider/src/main/java/com/guider/service/IService.java
  Guider/src/main/java/com/guider/service/TourService.java
  Guider/src/main/resources/application.properties
  Guider/src/main/resources/log4j.properties
Due: build_app, deploy_app

Terraform files to build infraestructure
  terraform/ec2.tf
  terraform/locals.tf
  terraform/main.tf
  terraform/outputs.tf
  terraform/sg.tf
  terraform/tf_readme.md
  terraform/vpc.tf
Due: none

Seguimos probando security
  Guider/pom.xml
  Guider/src/main/java/com/guider/DAO/JwtAuthenticationResponse.java
  Guider/src/main/java/com/guider/DAO/SignUpRequest.java
  Guider/src/main/java/com/guider/DAO/SigninRequest.java
  Guider/src/main/java/com/guider/GuiderApplication.java
  Guider/src/main/java/com/guider/config/AuthenticationService.java
  Guider/src/main/java/com/guider/config/AuthenticationServiceImpl.java
  Guider/src/main/java/com/guider/config/JwtAuthenticationFilter.java
  Guider/src/main/java/com/guider/config/JwtService.java
  Guider/src/main/java/com/guider/config/PasswordEncoder.java
  Guider/src/main/java/com/guider/config/SecurityConfiguration.java
  Guider/src/main/java/com/guider/controller/AuthenticationController.java
  Guider/src/main/java/com/guider/controller/AuthorizationController.java
  Guider/src/main/java/com/guider/persistence/entity/AppUser.java
  Guider/src/main/java/com/guider/service/AppUserService.java
  Guider/src/main/java/com/guider/service/UserService.java
  Guider/src/main/java/com/guider/service/UserServiceImpl.java
  Guider/src/main/resources/application.properties
Due: build_app, deploy_app

WIP. Atras--- check, Carousel--- so,so
  src/Components/Carousel/Carousel.jsx
  src/Routes/DetalleProducto/DetalleProducto.jsx
Due: none

login/registro/editarusuario/editartour/yalgomas
  index.html
  public/icons.jsx
  public/images/angulo-hacia-abajo1.svg
  public/images/angulo-izquierdo.svg
  public/images/angulo-izquierdo1.svg
  public/images/angulo-izquierdo2.svg
  public/images/atri_1.svg
  public/images/atri_2.svg
  public/images/atri_3.svg
  public/images/atri_4.svg
  public/images/atri_5.svg
  public/images/atri_6.svg
  public/images/atri_7.svg
  public/images/location_1.svg
  public/images/person-profile.svg
  src/App.jsx
  src/Components/Alerts/Fail.jsx
  src/Components/Alerts/Success.jsx
  src/Components/Card/Card.jsx
  src/Components/Header/Header.jsx
  src/Components/auth/signIn.jsx
  src/Context/AuthContext.jsx
  src/Routes/Admin/AgregarCategoria.jsx
  src/Routes/Admin/EditarTour.jsx
  src/Routes/Admin/EditarUsuario.jsx
  src/Routes/Admin/MostrarTours.jsx
  src/Routes/Admin/save.txt
  src/Routes/DetalleProducto/DetalleProducto.jsx
  src/Routes/Home/Home.jsx
  src/dataTest/data.jsx
  src/utils/icons.jsx
Due: none

signup-images
  public/images/guider.jpg
  public/images/tourist.jpg
  src/Components/auth/signIn.jsx
Due: none

So, so Carousel ..check.
  src/Components/Carousel/Carousel.jsx
Due: none

Card or Card Favorite is All
  react-app/src/App.jsx
  react-app/src/Components/Card/Card.jsx
  react-app/src/Components/Card/CardFavorite.jsx
  react-app/src/Components/Navbar/Navbar.jsx
  react-app/src/Routes/Home/Home.jsx
Due: frontend

Carousel Check
  react-app/public/images/detalles/angulo-hacia-abajo1.svg
  react-app/public/images/detalles/angulo-izquierdo.svg
  react-app/public/images/detalles/angulo-izquierdo1.svg
  react-app/public/images/detalles/angulo-izquierdo2.svg
  react-app/public/images/detalles/atri_1.svg
  react-app/public/images/detalles/atri_2.svg
  react-app/public/images/detalles/atri_3.svg
  react-app/public/images/detalles/atri_4.svg
  react-app/public/images/detalles/atri_5.svg
  react-app/public/images/detalles/atri_6.svg
  react-app/public/images/detalles/atri_7.svg
  react-app/public/images/detalles/location_1.svg
  react-app/public/images/detalles/person-profile.svg
  react-app/src/Components/Carousel/Carousel.jsx
  react-app/src/Routes/CargarTour/data.jsx
  react-app/src/Routes/DetalleProducto/DetalleProducto.jsx
Due: frontend

WIP 1. Input does not cleared, 2. Select, min and max were included
  react-app/package-lock.json
  react-app/package.json
  react-app/src/Routes/Home/Home.jsx
Due: frontend

WIP
  react-app/src/Routes/Home/Home.jsx
Due: frontend

Path conditions:
  frontend: any of: react-app/**/*
  build_app: any of: Guider/**/*
  deploy_app: any of: Guider/**/*
